.navbar{
    text-align: center;
    background-color: #003078;
    padding-top: 1%; 
    padding-bottom: 1%; 
    color: #f4f4f4;
}

.navbar a{
    text-decoration: none;
    color: #f4f4f4;
}
.navbar a:hover{
    color: #6ab0d5;
}

.active{
    border-bottom:3px solid #6ab0d5 ;
    transition-duration: 0.4s;
}



/* .navv{
    color: #f4f4f4;
} */

/* .navv:hover{
    background-color:red;
} */
/* .navv a:active{
    background-color:red;
} */


