.navbar{
    text-align: center;
    background-color: #003078;
    padding-top: 1%; 
    padding-bottom: 1%; 
    color: #f4f4f4;
}

.navbar a{
    text-decoration: none;
}


/* .navv{
    color: #f4f4f4;
} */

.navv:hover{
    background-color:red;
}
.navv a:active{
    background-color:red;
}


/* .active{
    text-decoration: underline;
} */
